In [1]:
library(rebird)
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [6]:
mykey <- "96h4mi8jusor"
fernhill <- "L163529"

### Small function to pull records

In [4]:
pullrecords <- function(start, end) {
    #used as.Date to clarify the format of startdate and enddate is YYYY-MM-DD
    startdate <- as.Date (start)
    enddate <- as.Date (end)
    dat <- NULL
    

    for (d in seq.Date(startdate, enddate, 1)){ 
      thedate <- as.Date(d, origin= "1970-01-01")
      day <- ebirdhistorical(loc = fernhill, date = thedate, key = mykey, fieldSet = "full")
      dat <- bind_rows(dat, day)            #bind_rows better than rbind in case fields are missing
    }
}

In [12]:
oct <- pullrecords("2013-01-01", "2013-12-30")

In [14]:
#Group by variable and sum particular column, in this case "howMany"
sum_of_oct <- oct %>% group_by(comName) %>% summarize(sum(howMany))

In [18]:
names(oct)

 [1] "speciesCode"      "comName"          "sciName"          "locId"
 [5] "locName"          "obsDt"            "howMany"          "lat"
 [9] "lng"              "obsValid"         "obsReviewed"      "locationPrivate"
[13] "subnational2Code" "subnational2Name" "subnational1Code" "subnational1Name"
[17] "countryCode"      "countryName"      "userDisplayName"  "subId"
[21] "obsId"            "checklistId"      "presenceNoted"    "hasComments"
[25] "firstName"        "lastName"         "hasRichMedia"

###Filtering your table

First, use Boolean operators (e.g. == or !=) to see which records match (rows)

In [26]:
oct$comName =="Canada Goose"

 [1] FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[25] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[37] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[49] FALSE

Then pull those same records from your table following format of variable[rows,columns] where you want to pull rows that are TRUE (hense the boolean and then a comma.

In [25]:
oct[oct$comName == "Canada Goose",]

  speciesCode comName      sciName           locId
1 cangoo      Canada Goose Branta canadensis L163529
2 cangoo      Canada Goose Branta canadensis L163529
  locName                     obsDt            howMany lat      lng
1 Fernhill Wetlands (general) 2013-12-30 08:10  4      45.50649 -123.0852
2 Fernhill Wetlands (general) 2013-12-30 08:10 41      45.50649 -123.0852
  obsValid ⋯ countryName   userDisplayName subId     obsId        checklistId
1 TRUE     ⋯ United States Steve Nord      S16134808 OBS223280902 CL23483
2 TRUE     ⋯ United States Steve Nord      S16134808 OBS223280903 CL23483
  presenceNoted hasComments firstName lastName hasRichMedia
1 FALSE         FALSE       Steve     Nord     FALSE
2 FALSE         FALSE       Steve     Nord     FALSE